@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "Roboto", Geneva, Verdana, sans-serif;
}

body {
  background-color: #444;
}

.container {
  width: 70vw;
  max-width: 1600px;
  margin: auto;
}
