.comment {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 10px;
  background-color: #333;
  padding: 10px;
}

.comment strong {
  font-weight: 600;
}

.comment-form {
  display: block;
  width: 100%;
}

.comment-form textarea {
  width: 100%;
  display: block;
  padding: 5px;
}

.comment-form button {
  background-color: #333;
  color: #888;
  padding: 5px;
  margin: 10px 0px;
  border: 0px;
  min-width: 80px;
}
